/*Configuração do layout da urna*/
@keyframes pisca{
    0%{opacity: 0.2;}
    50%{opacity: 1;}
    100%{opacity: 0.2;}
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
#urna{
    background-color: #dbd5c9;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.tela{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 320px;
    /* background-image: linear-gradient(to right, #e8e8e8 , #c1c1c1); */
    background-color: white;
    margin-right: 20px;
    border: 1px solid ;
}
.teclado{
    background-color: rgb(95, 93, 93);
    border: 1px solid;

}
.fl{
    display: flex;
    justify-content: center;
    margin: 5px;
    
}

.botao{
    display: flex;
    width: 60px;
    height: 40px;
    background-color: black;
    color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid ;
    border-right: 1px solid ;
    cursor: pointer;
}
div.fl#bts{
    display: flex;
    align-items: flex-end;
}
.botao#btnB{
    width: 70px;
    background-color: white;
    color: black;
}
.botao#btnCo{
    width: 70px;
    background-color: orange;
    color: black;
}

.botao#btnConf{
    width: 80px;
    height: 50px;
    background-color: green;
    color: black;
}

/* Configuração da visuliazacao da tela  */

div.tela-sup{
    padding: 5px;
    height: 80%;
    display: flex;
}

.sup1{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.voto{
    height: 20%;
}
.cargo{
    height: 20%;
    text-align: center;
    font-size: 1.2em;
}
.numero{
    display: flex;
    height: 20%;
    align-items: center;
    animation-name: pisca;

}
.pisca{
    animation-name:pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.num1{
    margin: 5px;
    width: 40px;
    height: 35px ; 
    border: 1px solid black;
    font-size: 2em;
    text-align: center;
}
.partido{
    display: flex;
    padding-top:10px;
    height: 20%;
}
.vice{
    display: flex;
    height: 20%;
}

.sup2{
    display: flex;
    flex-direction: column;
    width: 25%;
    
    align-items: flex-end;
    
}

#ftPref{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;

    
}
#ftPref > div > img{
    width: 100%;
    height:55%;
    
}
p{
    text-align: center;
}

#ftVice{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 50%;

}
#ftVice > div > img {
    width: 100%;
    height: 55%;
}
.tela-inf{
    
    border-top: 3px solid;
}

/*ESTILOS PARA O SCRIPT*/

.numErrado{
    margin-top:15px;
    font-size: 1.4em;
}
.nomeGrande{
    text-align: end;
    margin-top: 15px;
    font-size: 2.5em;
}
.fim{
    text-align: center;
    font-size: 5em;
    margin-top: 50px;
    margin-left: 80px;   
}